<!-- ====================================================================== -->
<!-- JUMBOTRON -->
<div class="jumbotron" style='background: #FFD633; padding: 10px;'>
  <div class="container">
    <h1><span style='color: #660000'>Blackbook</span></h1>
    <h2 style='margin-bottom: 20px;'>Address book for the web</h2>
    <div class="dropdown">
      <button class="btn btn-success btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Menu
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#" data-name='add'>Add...</a></li>
        <li><a href="#" data-name='search'>Search</a></li>
        <li><a href="#" data-name='new'>New...</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- ====================================================================== -->
